.card{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px 0;
    background: #0000006d;
    border-radius: 5px;
}
.card img{
    width: 30px;
    margin-right: 15px;
}
.card h4{

}